@CHARSET "UTF-8";
/* ext 3.2.1版本样式 */
.x-panel-header{
	font-family:宋体;
	font-size：12px;
	color:black;
	background:url(../../resources/images/df/bg_toggle.jpg);
	height:30px;
	border-top-width:0;
	border-right-color:gray;
	border-bottom-color:gray;
	border-left-color:gray;
}
/* ext 3.2.1版本样式 */
.x-panel-body{
	border-top-color:gray;
	border-right-color:gray;
	border-bottom-color:gray;
	border-left-color:grays;
}

.x-tool{
	background-image:url("../../resources/images/df/std_toggle.png");
}

.x-tool-toggle-over {
    background-position:0px -60px;
}

.x-tool-toggle {
    background-position:0px -70px;
}

.x-panel-collapsed .x-tool-toggle {
    background-position:0px -60px;
}
	
	
	
